---
- name: Validate prometheus_exporters list
  ansible.builtin.assert:
    that:
      - prometheus_exporters is defined
      - prometheus_exporters | length > 0
    fail_msg: "prometheus_exporters list must be defined and non-empty"

- name: Install exporters
  ansible.builtin.include_tasks: install_exporter.yml
  loop: "{{ prometheus_exporters }}"
  loop_control:
    loop_var: _exporter
    label: "{{ _exporter.name }}"
  vars:
    _exporter_arch: "{{ _exporter.arch | default(prometheus_exporter_arch_map[ansible_architecture] | default('amd64')) }}"
    _exporter_github_org: "{{ _exporter.github_org | default('prometheus-community') }}"
    _exporter_github_repo: "{{ _exporter.github_repo | default(_exporter.name) }}"
    _exporter_binary_name: "{{ _exporter.binary_name | default(_exporter.name) }}"
    _exporter_system_user: "{{ _exporter.system_user | default(_exporter.name | replace('-', '_') | replace('_exporter', '') + '_exporter') }}"
    _exporter_system_group: "{{ _exporter.system_group | default(_exporter_system_user) }}"
    _exporter_config_dir: "{{ _exporter.config_dir | default('/etc/' + _exporter.name) }}"
    _exporter_service_name: "{{ _exporter.service_name | default(_exporter.name) }}"
    _exporter_extra_args: "{{ _exporter.extra_args | default([]) }}"
    _exporter_env_vars: "{{ _exporter.env_vars | default({}) }}"
    _exporter_listen_address: "{{ _exporter.listen_address | default(prometheus_exporter_listen_address) }}"
    _exporter_listen_port: "{{ _exporter.listen_port }}"
